---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "概要";

const identity = {
  firstName: "ねこからす",
  country: "日本",
  occupation: "大学生",
  hobbies: [
    "ランニング",
    "筋トレ",
    "機械いじり・修理",
    "DIY",
    "家庭菜園",
    "読書",
  ],
};

const skills = ["HTML", "CSS", "JavaScript", "Astro", "Python", "C++"];

const skillColor = "crimson";
const fontWeight = "bold";
const textCase = "uppercase";
---

<BaseLayout pageTitle={pageTitle}>
  <h2>本サイトについて</h2>
  <p>
    以前のhtml、css、vanilla
    jsのサイトをあれこれ書き換えて更新するのが面倒になり、記事をmdで書いて、コンポーネントに分割するなどしてシンプルにしたいと思ったのでAstroチュートリアル通りに少しずつ作り直してみる。学習用とも兼ねているので、生成AIの使用はデバッグ含め禁止とする。
  </p>

  <h2>{identity.firstName}について</h2>
  <p>以下は私に関するいくつかの事実である。</p>
  <ul>
    <li>
      {
        identity.firstName
      }とは、私の好きな猫とカラスが由来である。カエルも好きなので、カエルも登場予定である。
    </li>
    <li>
      私は{identity.country}に住んでおり、{identity.occupation}をやっている。
    </li>
    {
      identity.hobbies.length >= 1 && (
        <li>
          私の{identity.hobbies.length}つの趣味は{identity.hobbies.join("、")}
          である。他にもある。
        </li>
      )
    }
  </ul>
  <p>私のスキルは以下の通りである。他にもある。</p>
  <ul>
    {skills.map((skill) => <li class="skill">{skill}</li>)}
  </ul>
</BaseLayout>

<!-- importしたcomponentにもis:globalでCSSを適用 -->
<style is:global define:vars={{ skillColor, fontWeight, textCase }}>
  h1 {
    color: purple;
    font-size: 4rem;
  }
  .skill {
    color: var(--skillColor);
    font-weight: var(--fontWeight);
    text-transform: var(--textCase);
  }
</style>
